@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    font-family: 'Permanent Marker', cursive;
}


h1{
    text-align: center;
    color: rgb(235, 235, 0);
    text-shadow: 2px 2px 10px black;
    font-family: sans-serif;
}

h3 {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 900;
    max-width: 45rem;
    text-align: center;
}

body{
    background-image: url('https://i.pinimg.com/originals/dd/e4/93/dde4933baf8dbac6e3b783c2538c0bfa.jpg');
    background-color: #cccccc;
    background-size: 250px;
    /* background-color: #efeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23121212' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

.tops{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    background-color: aliceblue;
    margin: 0px;
    padding: .5rem;
    max-width: 60%;
    margin-left: 20%;
    border-radius: 1rem;

    
}

.tops div  input{
    width: 15rem;
    height: 1.5rem;
}

.note-container {
    height: 10rem;
    position: relative;
    display: inline-block;
    width: 160px;
}

.note-container p{
    position: relative;
    top: -80%;
    text-align: center;
    width: 80%;
    margin: 0px;
    text-align: center;
    padding-left: 15px;
}

.note-container img{
    height: 100%;
}

.todo-area {
    display: flex;
    flex-wrap: wrap;
}

/* completed notes styles */
.todo-area-completed .note-container {
    height: 10rem;
    position: relative;
    display: inline-block;
}

.todo-area-completed .note-container p{
    position: relative;
    top: -80%;
    text-align: center;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.582);
}

.todo-area-completed .note-container img{
    height: 100%;
}

.todo-area-completed  {
    display: flex;
    flex-wrap: wrap;
}

